<div class="h-full w-full bg-black flex flex-col items-start pl-[1rem] pr-[1rem]">
  <div class="w-full h-[4rem] mt-[1rem] flex justify-between items-center">
    <img src="assets/images/profileImage.jpg" alt="Pofile" class="h-[3.5rem] w-[3.5rem] rounded-full">
    <div class="h-[4rem] w-[12rem] rounded-[50rem] bg-black flex flex-col justify-center items-center">
      <h1 class="font-bold text-[1.1rem]">
        Hello, Roise
      </h1>
      <p class="text-[0.9rem]">Today 7 Sep</p>
    </div>
    <div class="h-[3rem] w-[3rem] rounded-[50rem] bg-white flex justify-center items-center">
      <ion-icon name="search-outline" class="h-[1.8rem] w-[1.8rem] text-black"></ion-icon>
    </div>
  </div>
  <div class="h-[13rem] w-[95%] bg-[#ac99f5] mt-[2rem] ml-[0.6rem] rounded-[1rem] p-[1rem] flex">
    <div class="h-full w-[60%] flex flex-col justify-start items-start gap-2">
      <h1 class="font-bold text-[2.5rem]">
        Daily <br /> Challenge
      </h1>
      <p>Do you plan before 09:00AM</p>
      <div class="h-full w-[75%] flex ">
        <img src="assets/images/list1.jpg" alt="list"
          class="h-[2.5rem] w-[2.5rem] bg-black rounded-full flex justify-center items-center">
        <img src="assets/images/list22.jpg" alt="list"
          class="h-[2.5rem] w-[2.5rem] bg-black rounded-full flex justify-center items-center fixed left-[4.5rem]">
        <img src="assets/images/list33.jpg" alt="list"
          class="h-[2.5rem] w-[2.5rem] bg-black rounded-full flex justify-center items-center fixed left-[6.5rem] z-10">
        <div
          class="h-[2.5rem] w-[2.5rem] bg-[#5947a1] rounded-full flex justify-center items-center fixed left-[8.5rem] z-9">
          <h1 class="font-bold text-[1.2rem]">+5</h1>
        </div>
      </div>
    </div>
    <div class="h-full w-[40%]">
      <img src="assets/images/dumbbell.png" alt="pngwing" class="h-[14rem] w-[14rem] fixed left-[14rem] top-[5.5rem]">
    </div>
  </div>
  <div class="h-[6rem] w-full mt-[2rem] flex gap-[0.5rem]">
    <div
      class="h-full w-[4rem] bg-white rounded-full border border-[0.2rem] border-[#a395db] flex justify-center items-center flex flex-col gap-[0.8rem]">
      <div class="h-[0.5rem] w-[0.5rem] rounded-full bg-white"></div>
      <p class="text-black text-center">SUN<br />7</p>
    </div>
    <div
      class="h-full w-[4rem] bg-white rounded-full border border-[0.2rem] border-[#a395db] flex justify-center items-center flex flex-col gap-[0.8rem]">
      <div class="h-[0.5rem] w-[0.5rem] rounded-full bg-black"></div>
      <p class="text-black text-center">MON<br />8</p>
    </div>
    <div
      class="h-full w-[4rem] bg-white rounded-full border border-[0.2rem] border-[#a395db] flex justify-center items-center flex flex-col gap-[0.8rem]">
      <div class="h-[0.5rem] w-[0.5rem] rounded-full bg-white"></div>
      <p class="text-black text-center">TUS<br />9</p>
    </div>
    <div
      class="h-full w-[4rem] bg-[#ad99fb] rounded-full border border-[0.2rem] border-[#a395db] flex justify-center items-center flex flex-col gap-[0.8rem]">
      <div class="h-[0.5rem] w-[0.5rem] rounded-full bg-white"></div>
      <p class="text-white text-center">WED<br />10</p>
    </div>
    <div
      class="h-full w-[4rem] bg-white rounded-full border border-[0.2rem] border-[#a395db] flex justify-center items-center flex flex-col gap-[0.8rem]">
      <div class="h-[0.5rem] w-[0.5rem] rounded-full bg-white"></div>
      <p class="text-black text-center">THU<br />11</p>
    </div>
    <div
      class="h-full w-[4rem] bg-white rounded-full border border-[0.2rem] border-[#a395db] flex justify-center items-center flex flex-col gap-[0.8rem]">
      <div class="h-[0.5rem] w-[0.5rem] rounded-full bg-black"></div>
      <p class="text-black text-center">FRI<br />12</p>
    </div>
    <div
      class="h-full w-[4rem] bg-white rounded-full border border-[0.2rem] border-[#a395db] flex justify-center items-center flex flex-col gap-[0.8rem]">
      <div class="h-[0.5rem] w-[0.5rem] rounded-full bg-black"></div>
      <p class="text-black text-center">SAT<br />13</p>
    </div>
  </div>
  <h1 class="text-[1.6rem] mt-[1rem]">Your plan</h1>
  <div class="h-[29%] w-full mt-[1rem] flex gap-[1rem]">
    <div class="h-full w-[50%] bg-[#febd59] rounded-[1rem] p-[1rem]">
      <div class="h-[2rem] w-[60%] bg-[#fde5c1] flex justify-center items-center rounded-[2rem]">
        <h1 class="text-black">Medium</h1>
      </div>
      <h1 class="text-black mt-[0.8rem] font-bold text-[1.3rem]">Yogo Group</h1>
      <p class="text-black mt-[0.8rem]">
        11th Sep <br>
        7:00am-9:00am <br>
        Room C4
      </p>
      <div class="mt-[0.8rem] h-[3rem] w-full flex">
        <img src="assets/images/trainer.jpg" alt="pngwing" class="h-full w-[30%] bg-black rounded-full">
        <div class="h-full w-[70%] p-[0.4rem]">
          <h1 class="text-black">Trainer</h1>
          <h1 class="text-black font-bold text-[1rem]">Dave Bright</h1>
        </div>
      </div>
    </div>
    <div class="h-full w-[50%] rounded-[1rem] flex flex-col gap-2">
      <div class="h-[70%] w-full bg-[#a7cbff] rounded-[1rem] p-[0.8rem] flex">
        <div class="w-[70%] h-full">
          <div class="w-[60%] h-[20%] bg-[#dbecfd] rounded-[1rem] flex justify-center items-center">
            <h1 class="text-black">Light</h1>
          </div>
          <h1 class="text-black font-bold mt-[0.5rem] text-[1.3rem]">Balance</h1>
          <p class="text-black mt-[0.5rem]">13h Sep <br>
            6:00am-7:00am <br>
            Room C4</p>
        </div>
        <img src="assets/images/color.png" alt="color" class="h-[6rem] w-[6rem] fixed left-[20.3rem]">
      </div>
      <div class="h-[30%] w-full bg-[#fba2fc] rounded-[1rem] flex justify-between items-center p-[0.5rem]">
        <div class="h-[3.3rem] w-[3.3rem] bg-[#b573b8] rounded-full flex justify-center items-center">
          <ion-icon name="logo-facebook" class="text-white text-[2rem]"></ion-icon>
        </div>
        <div class="h-[3.3rem] w-[3.3rem] bg-[#b573b8] rounded-full flex justify-center items-center">
          <ion-icon name="logo-twitter" class="text-white text-[2rem]"></ion-icon>
        </div>
        <div class="h-[3.3rem] w-[3.3rem] bg-[#b573b8] rounded-full"></div>
      </div>
    </div>
  </div>
  <div
    class="h-[4rem] w-[90%] bg-[#574e7d] mt-[1.5rem] rounded-full flex justify-between items-center p-[0.5rem] ml-[1rem] pr-[1rem]">
    <div class="h-[3rem] w-[3rem] bg-[#020402] rounded-full flex justify-center items-center">
      <ion-icon name="home-outline" class="text-white text-[1.5rem]"></ion-icon>
    </div>
    <div class="h-[3rem] w-[3rem] rounded-full flex justify-center items-center">
      <ion-icon name="menu-outline" class="text-white text-[1.5rem]"></ion-icon>
    </div>
    <div class="h-[3rem] w-[3rem] rounded-full flex justify-center items-center">
      <ion-icon name="timer-outline" class="text-white text-[1.5rem]"></ion-icon>
    </div>
    <div class="h-[3rem] w-[3rem] rounded-full flex justify-center items-center">
      <ion-icon name="person-outline" class="text-white text-[1.5rem]"></ion-icon>
    </div>
  </div>
</div>